.NewBusTimes {
 font-size:16px;
  width:18em;
}
.NewBusTimes .rTable {
  	display: table;
  	width:18em;
}
.NewBusTimes .rTableBody {
  	display: table-row-group;
  width:18em;
}
.NewBusTimes .rTableRow  {
  	display: table-row;
   width:18em;18
}
.NewBusTimes .rTableHeading1  {
  	display: inline-block;
  	background-color: red;
    	width:18em;
}
.NewBusTimes .rTableHeading2 {
  	display: inline-block;
  	background-color: lightblue;
    	width:18em;
}
.NewBusTimes .rScheduleHeading {
  	display: inline-block;
  	background-color: lightblue;
    	width:18em;
}
.NewBusTimes .rScheduleLabel  {
  	display: inline-block;
  	background-color: lightblue;
     width:18em;
}

.NewBusTimes .rTableCell {
  	display: table-cell;
  	padding: 3px 10px;
  	border: 1px solid #999999;
    background-color: green;
  width:9em;
}



